@import "../../scss/global-imports";

header {
  background-color: #ba92f9;
  height: em(100);
  display: flex;
  justify-content: left;
  align-items: center;
  padding: em(40) em(60);
  div {
    h1 {
      color: white;
      font-size: em(24);
    }
  }
}
